@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }

  /* Gaya untuk scrollbar di browser modern (Webkit-based browsers seperti Chrome, Edge, Safari) */
  ::-webkit-scrollbar {
    width: 12px;
    /* Lebar scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: #0f80e9;
    /* Warna background track scrollbar */
    border-radius: 10px;
    /* Membuat track menjadi lebih halus */
  }

  ::-webkit-scrollbar-thumb {
    background: #4a90e2;
    /* Warna scrollbar */
    border-radius: 10px;
    /* Membuat ujung scrollbar melengkung */
    border: 3px solid #f0f0f0;
    /* Memberikan padding antara thumb dan track */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #357ABD;
    /* Warna scrollbar saat hover */
  }

  /* Gaya untuk Firefox */
  * {
    scrollbar-width: thin;
    /* Ukuran scrollbar tipis */
    scrollbar-color: #4a90e2 #f0f0f0;
    /* Warna thumb dan track scrollbar */
  }

  /* Gaya untuk Internet Explorer/Edge (lama) */
  .scrollbar {
    -ms-overflow-style: scrollbar;
    /* Menampilkan scrollbar standar */
  }

  body {
    @apply bg-background text-foreground antialiased;

  }

  .number {
    @apply font-mono tabular-nums;
  }
}